.bot-army {
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
}

.ui.grid > .row.bot-army-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
}

#filter {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

#sort {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

#search {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}
